{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .banner {
      width: 100%;
      height: 470px;
      overflow: hidden;
      position: relative;
    }

    #bannerImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      opacity: 0;
      transition: opacity 1s ease-in-out;
    }
</style>

<!--<h1>Flash Card Index Html</h1>-->
<!--<div class="text-center mt-4">-->
<!--    {% if user.is_authenticated %}-->
<!--    <h2>환영합니다, {{ user.username }}님! 로그인 되었습니다.</h2>-->
<!--    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>-->
<!--    {% else %}-->
<!--    <h2><a href="{% url 'login' %}" class="btn btn-primary">로그인</a>후 이용가능</h2>-->
<!--    <a href="{% url 'register' %}" class="btn btn-primary">회원가입</a>-->

<!--    {% endif %}-->

<!--</div>-->

<div class="container-fluid px-4">
    <div class="row">
        <div class="col-md-4 mb-4 mt-5">
            <div class="card mx-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    단어 연습 순위
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped table-bordered text-center">
                        <thead>
                        <tr>
                            <th>순위</th>
                            <th>사용자 이름</th>
                            <th>연습 횟수</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user_data in top_users %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                *{{ user_data.username|slice:"1:-1"|safe }}*
                            </td>
                            <td>{{ user_data.train_count }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4 mt-5">
            <div class="card mx-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                   오늘 TEST 순위
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th>순위</th>
                                <th>사용자명</th>
                                <th>평균 점수</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user_data in topex_users %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    *{{ user_data.username |slice:"1:-1"|safe }}*
                                </td>
                                <td>{{ user_data.average_score }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4 mb-4 mt-5">
            <div class="card mx-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    최신 소식
                </div>
                <div class="card-body">
                    <div class="banner">
                        <img id="bannerImage" src='{% static "assets/img/image_5.png" %}' alt="Banner Image"
                             class="img-fluid">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>


<div class="container-fluid px-4">
    <div class="row">
        <div class="mb-4 mt-5">
            <div class="card mx-2">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    최근 등록 단어
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered text-center">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center bg-light">번호</th>
                                <th scope="col" class="text-center bg-light">영어단어</th>
                                <th scope="col" class="text-center bg-light">영어발음</th>
                                <th scope="col" class="text-center bg-light">품사</th>
                                <th scope="col" class="text-center bg-light">한글발음</th>
                                <th scope="col" class="text-center bg-light">단어뜻1</th>
                                <th scope="col" class="text-center bg-light">단어뜻2</th>
                                <th scope="col" class="text-center bg-light">로마자</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for word in words %}
                            <tr>
                                <td scope="col" class="text-center"><span>{{ word.id }}</span></td>
                                <td scope="col" class="text-center"><span>{{ word.en_word }}</span></td>
                                <td scope="col" class="text-center"><span>[{{ word.en_phonetic }}]</span></td>
                                <td scope="col" class="text-center"><span>({{word.word_class}})</span></td>
                                <td scope="col" class="text-center"><span>{{ word.ko_phonetic }}</span></td>
                                <td scope="col" class="text-center"><span>{{ word.ko_word_1 }}</span></td>
                                <td scope="col" class="text-center"><span>{{ word.ko_word_2 }}</span></td>
                                <td scope="col" class="text-center"><span>[{{ word.ko_romanize }}]</span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const images = [
      '{% static "assets/img/image_1.jpg" %}',
      '{% static "assets/img/image_2.jpg" %}',
      '{% static "assets/img/image_3.jpg" %}',
      '{% static "assets/img/image_4.jpg" %}',
      '{% static "assets/img/image_5.jpg" %}'
    ];

    const bannerImage = document.getElementById('bannerImage');
    let imageIndex = 0;

    function changeImage() {
      bannerImage.style.opacity = 0; // 페이드아웃 효과 시작
      setTimeout(() => {
        bannerImage.src = images[imageIndex];
        bannerImage.style.opacity = 1; // 페이드인 효과 시작
        imageIndex = (imageIndex + 1) % images.length;
      }, 1000); // 0.5초 뒤에 이미지 변경 및 페이드인 효과 시작
    }

    changeImage(); // 초기 이미지 설정
    setInterval(changeImage, 4000); // 3.5초마다 이미지 변경 (0.5초 + 3초)
</script>


{% endblock content %}
