{% extends 'base.html' %}

{% block content %}

<style>
    input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0">로 그 인</h4>
                </div>
                <div class="card-body">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="row mb-3">
                            <!-- 아이디 입력 레이블과 필드 -->
                            <label for="{{ form.username.id_for_label }}" class="col-sm-3 col-form-label">{{ form.username.label_tag }}</label>
                            <div class="col-sm-9"> {{ form.username }} </div>
                        </div>
                        <div class="row mb-3">
                            <!-- 비밀번호 입력 레이블과 필드 -->
                            <label for="{{ form.password.id_for_label }}" class="col-sm-3 col-form-label">{{ form.password.label_tag }}</label>
                            <div class="col-sm-9"> {{ form.password }} </div>
                        </div>
                        <div class="mb-3 text-center">
                            <button class="btn btn-primary" type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <!-- 아이디 찾기 버튼 -->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'search_id' %}">아이디 찾기</a></div>
                </div>
                <!-- 비밀번호 찾기 버튼 -->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'find_password' %}">비밀번호 찾기</a></div>
                </div>
                <div class="card-footer text-center">
                    <!-- 회원가입 페이지로 이동하는 링크 -->
                    <p class="mb-0">아직 계정이 없으신가요? <a href="{% url 'register' %}">회원가입</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}